<h1><%= @planet.name %></h1>

<p><%= image_tag @planet.image, :class => 'feature' %></p>

<p>Orbit: <%= @planet.orbit %></p>

<p>Diameter: <%= @planet.diameter %></p>

<p>Mass: <%= @planet.mass %></p>

<p>Moons: <%= @planet.moons %></p>

<p><%= link_to 'Edit planet', planet_edit_path(@planet.id) %></p>

<%= button_to 'Destroy Planet', planet_delete_path(@planet.id) %>
