<h1><%= @artist.name %></h1>
<%= image_tag(@artist.image, :class => 'feature') %>
<ul>
  <li><%= @artist.nationality %></li>
  <li><%= @artist.dob.strftime '%A %e %B, %Y' unless @artist.dob.nil? %></li>
  <li><%= @artist.period %></li>
</ul>

<% @artist.works.each do |work| %>
  <%= link_to(image_tag(work.image, :class => 'thumb'), work) %>
<% end %>

<p>
  <%= link_to 'Edit artist', edit_artist_path(@artist) %>
  <%= link_to 'Delete artist', @artist, :method => :delete %>
</p>
