<h2><%= @butterfly.name %></h2>
<p>
  Family: <%= @butterfly.family %>
</p>
<p>
  Larval plant:
  <% if @butterfly.plant %>
    <a href="/plants/<%= @butterfly.plant.id %>">
      <%= @butterfly.plant.name %>
    </a>
  <% else %>
    Unknown
  <% end %>
</p>
<img class="feature" src="<%= @butterfly.image %>">

<p class="controls">
  <a href="/butterflies/<%= @butterfly.id %>/delete">Delete</a>
  <a href="/butterflies/<%= @butterfly.id %>/edit">Edit</a>
</p>
