<h2><%= @butterfly.name %></h2>
<p>
  Family: <%= @butterfly.family %>
</p>
<img src="<%= @butterfly.image %>">

<a href="/butterflies/<%= @butterfly.id %>/delete">Delete</a>
<a href="/butterflies/<%= @butterfly.id %>/edit">Edit</a>
