<h2><%= @plant.name %></h2>

<% if @plant.butterflies.any? %>
  <h3>Associated butterflies</h3>
<% end %>

<% @plant.butterflies.each do |butterfly| %>
  <p>
    <a href="/butterflies/<%= butterfly.id %>"><%= butterfly.name %></a>
  </p>
<% end %>

<img class="feature" src="<%= @plant.image %>">

<p class="controls">
  <a href="/plants/<%= @plant.id %>/delete">Delete</a>
  <a href="/plants/<%= @plant.id %>/edit">Edit</a>
</p>
