<h2><%= @butterfly[0]['name'] %></h2>
<p>
  Family: <%= @butterfly[0]['family'] %>
</p>
<img src="<%= @butterfly[0]['image'] %>">

<a href="/butterflies/<%= @butterfly[0]['id'] %>/delete">Delete</a>
<a href="/butterflies/<%= @butterfly[0]['id'] %>/edit">Edit</a>
