<a href="/">Go home</a>

<%= link_to('Go home', root_path) %>

<hr>

<%= link_to 'Numbers', numbers_path %>
<%= link_to 'Text', text_path %>
<%= link_to 'Rails Assets', railsassets_path %>
<%= link_to 'URL', url_path %>

<%= link_to 'Rails Assets', railsassets_path %>
<%= link_to 'Rails Assets', railsassets_path %>
<%= link_to 'Rails Assets', railsassets_path %>
<%= link_to 'Rails Assets', railsassets_path %>
<%= link_to 'Rails Assets', railsassets_path %>
<%= link_to 'Rails Assets', railsassets_path %>
